@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
.Header {
display: flex;
    flex-direction: row;
    background-color: #013dc9;
    color: white;
    text-align: left;
    height: 6vh;
    width: 98vw;
    padding-left: 2vw;
    align-items: center;
    font-size-adjust: 0.38;
    margin: 0;  
    font-family: 'Arima', sans-serif;
}